.App{
  display: flex;
  flex-wrap:wrap;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.movies{
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  align-items: center;

}

.movie{
 margin: 0 30px 10px 0;
 box-shadow: 0 0 10px teal;
 width: 200px;
}
.details{
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.images{
  width: 100%;
}